*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}
a{
    text-decoration: none;
}
:root{
    --aside: 30vw;
    --main: mim(60%, 800px)
    --form: min(50vw, 500px);
    --titulo: min(70vw, 700px);
    --invalid: rgb(209, 31, 70);
    --valid: rgb(24, 107, 65);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

aside{
    width: var(--aside);
    height: 100vh;
    position: relative;
    align-items: center;
}

aside >.background{
    width: 100%;
    height: 100%;
}

aside > div> img{
    width: 100%;
    height: 100%;
}

.logo{
    width: 100%;
    height: 30vh;
    background-color: rgba(17, 16, 16, 0.712);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
}

.logo > h2{
    font-size: 3rem;
    color: #ddd;
    text-transform: uppercase;
}

.logo > img{
    width: 10vw;
    height: 26vh;
   
}

aside > div> p{
    width: 80%;
    position: absolute;
    bottom: 20px;
    color: #ddd;
    text-align: center;
}

main{
    width: var(--main);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo {
    width: var(--titulo);
    margin-right: 10rem;
    margin-bottom: 2rem;
}

.form{
    width: var(--titulo);
    margin-right: 10rem;
}

.inputs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.name> label, .fone> label{
    margin-top: 1rem;
}

.fone{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.btn{
    margin-top: 2rem;
}

.btn > button{
    width: 10rem;
    height: 3rem;
    background-color: rgb(9, 90, 56);
    color: #ddd;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.btn a{
     color: rgb(9, 90, 56) ;
   
}

.btn> label{
    margin-top: 2rem;
    text-decoration: none;
}

#email:invalid{
    color: red;
}

.colos{
    width: 60vw;
    text-align: center;
    background-color: #ddd;
}
